backcall==0.1.0
bcolz==1.1.2
beautifulsoup4==4.6.0
better-exceptions==0.1.8
bs4==0.0.1
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
colorama==0.3.9
colorlover==0.2.1
cufflinks==0.12.1
cycler==0.10.0
d3py==0.2.3
decorator==4.3.0
dill==0.2.5
ffn==0.3.4
future==0.16.0
idna==2.5
ipykernel==4.6.1
ipython==6.4.0
ipython-genutils==0.2.0
jedi==0.12.0
jsonpickle==0.9.4
jsonschema==2.6.0
jupyter-client==5.1.0
jupyter-core==4.3.0
line-profiler==2.0
logbook==1.0.0
lxml==3.8.0
matplotlib==2.1.2
mock==2.0.0
nbformat==4.4.0
numexpr==2.6.2
numpy==1.14.1
pandas==0.22.0
pandas-datareader==0.6.0
parso==0.2.1
path.py==10.3.1
pbr==3.1.1
pdfkit==0.6.1
pickleshare==0.7.4
plotly==2.7.0
prompt-toolkit==1.0.15
py==1.4.34
Pygments==2.2.0
PyMySQL==0.7.11
pyodbc==4.0.23
pyparsing==2.2.0
pyreadline==2.1
pytest==3.2.1
python-dateutil==2.6.1
pytz==2018.3
pyyaml==3.12
pyzmq==16.0.2
requests==2.18.3
requests-file==1.4.3
requests-ftp==0.3.1
rqalpha==3.0.9
scikit-learn==0.19.1
scipy==1.0.0
simplegeneric==0.8.1
simplejson==3.11.1
six==1.11.0
SQLAlchemy==1.2.6
statsmodels==0.9.0
TA-Lib==0.4.10
tables==3.4.2
tabulate==0.7.7
tornado==4.5.2
tqdm==4.23.4
traitlets==4.3.2
tushare==0.8.7
urllib3==1.22
wcwidth==0.1.7
win-unicode-console==0.5
wrapt==1.10.11
xlsxwriter==0.9.8
